{%extends "blog/base.html"%}
{%load crispy_forms_tags%}
{%block content%}
   <div class="content-section">
       <form method="post">
           {% csrf_token %}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4">Reset password</legend>
               {{form|crispy}}
           </fieldset>
           <div class="form-group">
               <button class="btn btn-outline-info" type="submit">Request password reset</button>
           </div>
       </form>

   </div>
{%endblock content%}
